tenancy_ocid     = "ocid1.tenancy.oc1.ToDo"
user_ocid        = "ocid1.user.oc1.ToDo"
private_key_path = "ToDo"
fingerprint      = "ToDo"
region           = "ToDo"
compartment_ocid = "ToDo"

num_instances = 1

ssh_public_key   = <<EOT
ToDo
EOT
ssh_private_key  = <<EOT
ToDo
EOT
